<ion-header  [translucent]="false">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollEvents]="true">
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-label>Allow FingerPrint/Face Recognition for Current User</ion-label>
        <ion-checkbox style="--size: 14px; margin: 0;" mode="md"></ion-checkbox>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
