<ion-header *ngIf="showCompeltedTasks" [translucent]="false">
  <ion-toolbar>
      <ion-title class="ion-text-center mvvFontSize">Completed Tasks</ion-title>
      <ion-icon slot="end" size="large" (click)="onDismiss()" name="close-outline"></ion-icon>
  </ion-toolbar>
  </ion-header>
  <div class="inner-content">
    <div id="careplanTasks">
      <ion-item lines="none">
        <ion-label>
          Completed Care Plan Tasks
        </ion-label>
      </ion-item>
      <ion-grid style="border-bottom: 1px solid grey;">
        <ion-row>
          <ion-col class="ion-no-padding" size="12">
            <ion-item lines="none">
              <ion-icon class="ion-no-margin" slot="start" size="large" color="danger" name="close-outline"></ion-icon>
              <ion-label style="font-size: 14px;" class="ion-no-margin margin-left-2">01 - Task Code</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div id="nonCareplanTasks">
      <ion-item lines="none">
        <ion-label>
          Completed Non Care Plan Tasks
        </ion-label>
      </ion-item>
      <ion-grid>
        <ion-row>
          <ion-col class="ion-no-padding" size="12">
            <ion-item lines="none">
              <ion-icon class="ion-no-margin" slot="start" size="large" color="danger" name="close-outline"></ion-icon>
              <ion-label style="font-size: 14px;" class="ion-no-margin margin-left-2">01 - Task Code</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
