.medsys-logo{
    text-align: center;
    margin-top: 7%;
}
.margin-left-3{
    margin-left: 3%;
}
.input-text{
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset;
    height: 34px;
}
.chkSaveCredentials{
    height: 16px;
    width: 16px;
}
.lblSaveCredentials{
    font-size: 14px;
    margin-left: 5px;
}
.margin-left-10{
    margin-left: 10%;
}